.header-color{
    color: rgb(46, 124, 228);
    font-size:35px;
     
    font-family: Atomic age;
}


  .navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: 80px;
  }

.active{
  background-color: #555;
  color: white;
}


li a:hover {
  background-color: #555;
  color: white;
} 