<!-- Navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"> <!-- Header part of nav -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" alt="Magic Sports"><span class="header-color">maGic spOrts</span>
      </a>
    </div>
    
    <div id="navbar1" class="navbar-collapse collapse"> <!-- Navbar menu -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Invoice Details </a> </li>
        <li><a href="#"> Calculator</a></li>
        <li><a href="#">Payment Due Details</a></li>
        <li><a href="#">Customer Records</a></li>
        <li><a href="#">Profit Calculator</a></li>
                        
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add Product <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Add catagory</a></li>
          </ul>
        </li>
      </ul>
    </div>
        <!--/.nav-collapse -->
  </div>
      <!--/.container-fluid -->
</nav>

  
